@CHARSET "UTF-8";

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cabecera {
	background: green;
}

.titulo {
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	font-weight: bold;
	font-size: 12pt;
	margin-left: 15px;
}