@CHARSET "UTF-8";

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cabecera {
	background-color:#008080;
}

.titulo {
	text-overflow: ellipsis;
	white-space: nowrap;
	color:white;
	font-weight: bold;
	font-size: 12pt;
	margin-left: 500px;
	
}

.field {
	font-weight: bold;
}
.botones{
	color:#008080;
}

.required {
	font-weight: bold;
	color: red;}

.pie{
	font-size:12px;
	color:white; 
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left:5px;
}


