@CHARSET "UTF-8";

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cabecera {
	background-color:#008080;
}

.titulo {
	text-overflow: ellipsis;
	white-space: nowrap;
	color:white;
	font-weight: bold;
	font-size: 12pt;
	margin-left: 500px;
	
}

.field {
	font-weight: bold;
}

.required {
	font-weight: bold;
	color: red;
}


.uni{
	position:absolute;
	left:1000px;
	padding-top:15px;
	color:white;
}

.integ{
	position:absolute;
	left:550px;
	padding-top:15px;
	color:white;}
.wp{
	padding-top:15px;
	padding-left:50px;
	color:white;
}

